<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>soji | clean up your files</title>
	<!-- font-awesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- css -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/yeti_button.css" />
    <!-- js -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
    var display = function(data) {
        var d = data;
        var filename = d.path;
        var p = d.path;
        var modified = d.client_mtime;
        var icon = d.icon;
        var type = d.is_dir ? 'Folder' : 'File';
        document.getElementById("type").innerHTML = type;
        document.getElementById("filename").innerHTML = filename;
        document.getElementById("path").innerHTML = p;
        document.getElementById("modified").innerHTML = modified;
    }
    var bind = function() {
        $('#up').click(function() {
          var success = function(data) {
            console.log(data);
            display(data);
          };
          $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/up",
            success: success
          });
        });

        $('#down').click(function() {
          var success = function(data) {
            console.log(data);
            display(data);
          };
          $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/down",
            success: success
          });
        });

        $('#left').click(function() {
          var success = function(data) {
            console.log(data);
            display(data);
          };
          $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/delete",
            success: success
          });
        });

        $('#right').click(function() {
          var success = function(data) {
            display(data);
            console.log(data);
          };
          $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/keep",
            success: success
          });
        });
    }

    $(document).ready(function() {
        var success = function(data) {
            console.log(data);
            display(data);
        }

        $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/begin",
            success: success
        });

        bind();
    });
    </script>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="well preview">
                <div class="text-center">
                    <h3><span id="filename"></span></h3>
                </div>
                <div class="text-center">
                    <img src="http://25.media.tumblr.com/tumblr_lxq4dq4Lrl1qhy6c9o2_250.gif">
                </div>
                <div class="">
                    Type: <span id="type"></span>
                    <br>Location: <span id="path"></span>
                    <br>Last modified: <span id="modified"></span>
                    <div class="text-center">
                        <div class="pull-center">
                            <a class="btn btn-default btn-no-shadow" id="up">
                              <i class="fa fa-arrow-up"></i>
                              &nbsp;&nbsp;to parent folder</a>
                            <a class="btn btn-default btn-no-shadow" id="down">
                              enter folder&nbsp;&nbsp;
                              <i class="fa fa-arrow-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <!-- bottom buttons here -->
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-danger btn-no-shadow" id="left"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;delete</a>
                  <a class="btn btn-default btn-no-shadow" id="right">right &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 swipe-btn text-center">
            <!--<a class="btn btn-default">right/keep</a>-->
        </div>
    </div>
</body>


</html>